.parentContainer {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 155px;

  
  .svg {
    margin-left: 200px;
  }
  .listContainer {
    position: absolute;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 150vh;
    width: 80%;
    top: 203px;
    margin-left: 250px;
  }
}
